@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
  --color: #FFBA3A;
  --white: #fff;
  --light: #eeeded;

}

body {

  font-family: system-ui;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  transition: .2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;

}

section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  font-size: 3rem;
  color: #333;
  padding: 1rem;
  margin: 8rem 0;
  background: rgba(255, 51, 153, .05);
}

.heading span {
  color: var(--color);

}

.btn {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 1rem;
  border-radius: 5rem;
  background: #333;
  color: #fff;
  padding: .9rem 3.5rem;
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  background: var(--color);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .logo {
  font-size: 3rem;
  color: #333;
  font-family: Anton;
  padding-right: 40px;
}

header .logo span {
  color: var(--color);
}

header .navbar a {
  font-size: 2rem;
  padding: 0 1.5rem;
  color: #666;
}

header .navbar a:hover {
  color: var(--color);
}

header #toggler {
  display: none;

}

header .fa-bars {
  font-size: 3rem;
  color: #333;
  border-radius: .5rem;
  padding: .5rem 1.5rem;
  cursor: pointer;
  border: .1rem solid rgba(0, 0, 0, .3);
  display: none;
}

header .icons a {
  font-size: 2.5rem;
  color: #333;
  margin-left: 1.5rem;
}

header .icons a:hover {
  color: var(--color);
}

.container {
  margin-top: 10px;
  height: auto;
  max-width: 100%;
  margin: 40px auto 0;
  display: grid;
  grid-template-columns: 1px auto 300px;
  padding: 20px;

  min-height: 80vh;
}

.container .menu {
  background-color: var(--white);

}

.container .cart {
  background-color: var(--white);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.container .center {
  background-color: var(--light);
}


.center .search {
  background-color: var(--white);
  padding: 20px;
  height: 40px;
}

.center .search .form {
  width: max-content;


  padding-left: 15px;
  color: var(--light);
}

.center .search .form input {

  padding: 0 10px;
  outline: none;
  width: 100px;
}

.center .search .form button {

  background-color: var(--color);
  color: var(--light);
  padding: 10px 20px;

}

.center h2 {
  padding: 20px;
  font-size: 30px ;
}

.center .list {
  padding: 0 20px 20px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  row-gap: 20px;
}

.item {
  background-color: var(--white);
  display: grid;
  grid-template-columns: 20% auto;
  padding: 10px;
  column-gap: 20px;
  border-radius: 20px;
  font-size: 17px;
}

.item .img img {
  height: 70px;
}

.item .img {
  background-color: var(--light);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item .content .title {
  font-weight: bold;
}

.item .content .des {
  font-size: 13px;
  opacity: 0.7;
  margin-top: 5px;
}

.item .content .price {
  color: var(--orange);
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 16px;
  margin-top: 5px;
}

.item .count {
  width: 50px;
  border-radius: 10px;
  margin-right: 10px;
  padding: 3px 5px;
  border: 1px solid var(--light);
  outline: none;
  margin-top: 5px;
}

.item .content .add {
  margin-top: 5px;
  background-color: var(--color);
  color: var(--white);
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  font-size:17px;
}

.item .content .remove {
  padding: 5px;
  border: none;
  margin-top: 5px;
  border-radius: 10px;
  display: none;
}

.promo-code-input {
  align-items: center;
  margin: auto;
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  font-size: 1.5rem;

}

.promo-code-input button {
  background-color: var(--color);
  color: white;
  border: none;
  border-radius: 2rem;
  font-size: 11px;
  padding: 5px 10px;
  margin-top: -5px;
}


.cart .item {
  transition: 0.5s;
  border-bottom: 1px solid var(--light);
}

.cart .name {
  margin-top: 80px;
  padding: 20px;
  height: 40px;
  font-weight: bold;
  font-size: 20px;
  border-top: 1px solid var(--light)
}

.danger {
  box-shadow: 0 10px 10px var(--color);
  transform: translate(0, -10px);
}

.cart .add {
  display: none;
}

.cart .remove {
  display: inline-block !important;
}

.btn {

  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: #333;
  color: #fff;
  padding: .9rem 3.5rem;
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  background: var(--color);
}

.btn-1 {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.total-title {
  text-align: center;
  font-size: 1.5rem;



}

.total-price {
  text-align: center;
  font-size: 1rem;



}
.footer .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 20px;

}

.footer .box-container .box {
  flex: 1 1 25rem;

}

.paddingbox {
  padding-left: 40px;
}

.footer .box-container .box h3 {
  color: black;
  font-size: 2.7rem;
  padding: 2rem 0;
}

.footer .box-container .box a {
  display: block;
  color: gray;
  font-size: 2.0rem;
  padding: 1rem 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer .box-container .box a:hover {
  color: var(--color);
  text-decoration: underline;
}

.footer .box-container .box img {
  margin-top: 1rem;
}

.footer .credit {
  text-align: center;
  padding: 1.5rem;
  margin-top: 1.5rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: #333;
  border-top: .1rem solid rgba(0, 0, 0, .1);
  padding-bottom: 9rem;
}

.footer .credit span {
  color: var(--color);
}

.footer {
  background-color: #EDEDED;
  padding: 2rem 5%;

}

.logofooter {

  height: 60px;
  display: flex;
  margin-top: 30px;
}

.copyright {
  display: flex;
  font-size: 17px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: #ededed;
  margin-top: 0;
  padding: 30px 5%;

}
@media (max-width:991px) {

  html {
    font-size: 55%;
  }

  header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }

  .home {
    background-position: left;
  }

}

@media (max-width:768px) {

  header .fa-bars {
    display: block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #eee;
    border-top: .1rem solid rgba(0, 0, 0, .1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header #toggler:checked~.navbar {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a {
    margin: 1.5rem;
    padding: 1.5rem;
    background: #fff;
    border: .1rem solid rgba(0, 0, 0, .1);
    display: block;
  }

  .home .content h3 {
    font-size: 5rem;
  }

  .home .content span {
    font-size: 2.5rem;
  }

  .icons-container .icons h3 {
    font-size: 2rem;
  }



}

@media (max-width:1024px) {

  html {
    font-size: 50%;
  }

  .heading {
    font-size: 3rem;
  }


  @media only screen and (max-width: 600px) {
    body {
      font-size: 16px;
    }

    header .logo {
      font-size: 2rem;
      padding-right: 20px;
    }

    header .fa-bars {
      display: block;
    }

    header .navbar {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 999;
    }

    header .navbar a {
      font-size: 2.5rem;
      padding: 1.5rem;
      color: #666;
      transition: 0.2s linear;
    }

    header .navbar a:hover {
      color: var(--color);
    }

    header .icons a {
      font-size: 2rem;
      margin-left: 1rem;
    }

    .container {
      grid-template-columns: 1fr;
    }

    .container .menu,
    .container .cart {
      border-radius: 0;
    }

    .center {
      padding: 1rem;
    }

    .center h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    .center .list {
      grid-template-columns: 1fr;
      
    }

    .item .img img {
      height: 50px;
    }

    .item .content .title {
      font-size: 17px;
    }

    .item .content .des {
      font-size: small;
      opacity: 0.7;
    }

    .item .content .price {
      font-size: small;
    }

    .item .count {
      width: 40px;
      margin-top: 0.5rem;
    }

    .item .content .add {
      margin-top: 0.5rem;
      font-size: 1.2rem;
      padding: 0.5rem;
    }
  }
 
  @media only screen and (min-width: 601px) and (max-width: 960px) {
    body {
      font-size: 18px;
    }

    header .logo {
      font-size: 2.5rem;
      padding-right: 30px;
    }

    header .fa-bars {
      display: block;
    }

    header .navbar {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 999;
    }

    header .navbar a {
      font-size: 2.5rem;
      padding: 1.5rem;
      color: #666;
      transition: 0.2s linear;
    }

    header .navbar a:hover {
      color: var(--color);
    }

    header .icons a {
      font-size: 2.5rem;
      margin-left: 1.5rem;
    }

    .container {
      grid-template-columns: 1fr;
    }

    .center h2 {
      font-size: ;
    }
   

    @media (max-width:991px) {

      html {
        font-size: 55%;
      }

      header {
        padding: 2rem;
      }

      section {
        padding: 2rem;
      }

      .home {
        background-position: left;
      }

    }

    @media (max-width:768px) {

      header .fa-bars {
        display: block;
      }

      header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      }

      header #toggler:checked~.navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      }

      header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0, 0, 0, .1);
        display: block;
      }

      .home .content h3 {
        font-size: 5rem;
      }

      .home .content span {
        font-size: 2.5rem;
      }

      .icons-container .icons h3 {
        font-size: 2rem;
      }



    }

    @media (max-width:1024px) {

      html {
        font-size: 50%;
      }

      .heading {
        font-size: 3rem;
      }

    }
@media screen and (min-width: 768px) {
  body {
    flex-direction: row;
  }

  nav {
    flex-basis: 20%;
  }

  main {
    flex-basis: 80%;
  }
}
    @media only screen and (max-width: 600px) {
      .nav1 {
        flex-direction: column;
        height: auto;
      }

      .email,
      .call,
      .clock {
        margin: 10px 0;
      }
    }

    .footer .box-container {
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
      margin-top: 20px;

    }

    .footer .box-container .box {
      flex: 1 1 25rem;

    }

    .paddingbox {
      padding-left: 40px;
    }

    .footer .box-container .box h3 {
      color: black;
      font-size: 2.7rem;
      padding: 2rem 0;
    }

    .footer .box-container .box a {
      display: block;
      color: gray;
      font-size: 2.0rem;
      padding: 1rem 0;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .footer .box-container .box a:hover {
      color: var(--color);
      text-decoration: underline;
    }

    .footer .box-container .box img {
      margin-top: 1rem;
    }

    .footer .credit {
      text-align: center;
      padding: 1.5rem;
      margin-top: 1.5rem;
      padding-top: 2.5rem;
      font-size: 2rem;
      color: #333;
      border-top: .1rem solid rgba(0, 0, 0, .1);
      padding-bottom: 9rem;
    }

    .footer .credit span {
      color: var(--color);
    }

    .footer {
      background-color: #EDEDED;
      padding: 2rem 5%;

    }

    .logofooter {

      height: 60px;
      display: flex;
      margin-top: 30px;
    }

    .copyright {
      display: flex;
      font-size: 17px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      background: #ededed;
      margin-top: 0;
      padding: 30px 5%;

    }